<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Id Index</title> 
</head>

<body>
    <h1>Single Id</h1>
    <ul>
        
            <li> <h2>Id: {{single_hero.id}} </h2> </li>
            <li> <h2>Name: {{single_hero.name}} </h2> </li>
            <li> <h2>Alter Ego: {{single_hero.alter_ego}} </h2> </li>
            <li> <h2>Primary Ability: {{single_hero.primary}} </h2> </li>
            <li> <h2>Secondary Ability: {{single_hero.secondary}} </h2> </li>
            <li> <h2>Catch Phrase: {{single_hero.catchphrase}} </h2> </li>
            
    </ul>

</body>
</html>
